.tag {
	padding:5px;
	color:grey;
}

footer {
	padding: 1rem;
}

header {
	text-align: center;
}

nav ul {
	padding 0px;
}

img.poster {
	max-width: 300px;
	max-height: 300px;
}

img.icon {
	max-width: 30px;
	max-height: 30px;
}

#main {
	font-family: Arial, Helvetica, sans-serif;
}