@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {
	
}

.tag {
	padding:0.3rem;
	color: black;
	border-radius: 0.6rem;
	margin: 2px;
	background-color: #a7a7a7;
}

.tag:hover {
	color:grey;
	background-color: lightgrey;
}

footer {
	padding: 1rem;
}

header {
	text-align: center;
}

nav ul {
	padding 0px;
}

img.poster {
	max-width: 300px;
	max-height: 300px;
}

img.icon {
	max-width: 30px;
	max-height: 30px;
}

#main {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h2 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}