<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${review.title}" />
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<div id="main">
		<header>
			<h1 th:text="${review.title}" />
			<nav>
				<a href="/">Home</a>
			</nav>
		</header>
		<article>
			<img class = "poster" th:src="@{${review.url}}"/>
			<p>Category: <span th:text="${review.category}"/></p>
			<p th:text="${review.content}"/>
			<p>Tags: </p>
			<a class="tag" th:each="tag: ${review.getTags()}" th:href="@{/search(tag=${tag})}">
				<span th:text="${tag}"/>
			</a>
		</article>
		<footer>
			<a href="https://github.com/alexjamesmalcolm">Visit my github</a>
		</footer>
	</div>
</body>
</html>