<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reviews</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<div id="main">
		<header>
			<h1>Reviews</h1>
			<nav>
				<a href="/">Home</a>
			</nav>
		</header>
		<article th:each="review: ${reviews}">
			<h2>
				<a th:href="@{/review(id=${review.getId()})}" th:text="${review.getTitle()}" />
			</h2>
			<p th:text="${review.getDescription()}"/>
		</article>
		<footer>
			<a href="https://github.com/alexjamesmalcolm">Visit my github</a>
		</footer>
	</div>
</body>
</html>